.categories-post {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  a {
    background-color: var(--color-theme-ligthen);
    color: var(--color-theme-darken);
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 0.25rem 0.625rem;
    border-radius: 30rem;
    display: inline-block;
    position: relative;
    text-decoration: none;

    &:not(:first-child) {
      margin-left: 0.4em;
    }

    &:hover {
      background-color: var(--color-theme-darken);
      color: var(--color-theme-ligthen);
    }
  }
}
