// Espaço entre as sessões
.spacing {
  padding: ($default-spacing-y / 2) $default-spacing-x;

  @include media(lg) {
    padding: $default-spacing-y $default-spacing-x;
  }
}

.text-default {
  color: var(--color-theme) !important;
}